*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    height: 500px;
    width: 500px;
    flex-wrap: wrap;
    align-items: start;
    align-content: space-evenly;
    border: 2px solid;
    gap: 10px;
}
.flex-child{
   /* flex-grow: 1;*/
    padding: 10px;
}
.child1{
    background-color: yellow;
}
.child2{
    background-color: rgb(240, 183, 221);
}
.child3{
    background-color: rgb(168, 232, 205);
}
.child4{
    background-color: rgb(174, 221, 164);
}
.child5{
    background-color: rgb(173, 155, 210);
}