*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    gap: 10px;
    border: 2px solid;
}
.flex-child{
    padding: 10px;
   /* flex-shrink: 0;*/
}
.child1{
    background-color: yellowgreen;
    width:100px;
}
.child2{
    background-color: orange;
    width: 80px;
}
.child3{
    background-color: yellow;
    width: 100px;
}
.child4{
    background-color: violet;
    width: 90px;
}
.child5{
    background-color: orangered;
    width: 150px;
}
.child6{
    background-color: red;
    width: 120px;
}