*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex-container{
    border: 2px solid;
    display: flex;
    gap: 10px;
}
.flex-child{
    padding: 10px;
}
.child1{
    flex: 2 2 auto;
    background-color: red;
}
.child2{
    flex: 2 0 100px;
    background-color: pink;
}
.child3{
    flex: 3 1 200px;
    background-color: orange;
}